body{
    background-color: #0f2027;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}

#first_h2{
    text-align: center;
}

.first_box{
    background-color: black;
    width: 140px;
}

#second_box{
    background-color: black;
    width: 140px;
}

img{
    width: 150px;
}